<div class="row">
    <% @events.each do |event|%>
        <div class="col-xs-3">
            <div class="box">
                <h1><%= link_to event.name, event%></h1>
                <div class="field">
                    <%= image_tag event.cover.url(:thumb)%>
                </div>
                <div class="field">
                    <%= event.id  %> 
                </div>
                <div class="field">
                    <%= event.organizer%> - <%= link_to "Register", usevents_path(event.id) , method: :post %> 
                </div>
            </div>
        </div>              
    <%end%>
</div>   